@import 'nib'

body
  padding-top 55px
  font 12px 'Helvetica Neue', Helvetica, arial, sans-serif
  height 100%
  background-image url('/images/husk.png')

a
  text-decoration none

a:hover
  text-decoration underline

h1
  font 600 30px 'Helvetica Neue', Helvetica, arial, sans-serif
  color #333
  margin-bottom 0px
  margin-top 40px
  line-height 30px

h2
  font 800 20px 'Helvetica Neue', Helvetica, arial, sans-serif
  margin 7px 0px
  color #5a5a5a
  display: inline-block

light
  color #888

h3
  font 500 16px/22px Georgia, Helvetica, arial, sans-serif
  margin 6px 2px
  margin-top 0
  color #777
  text-shadow 1px 1px 1px rgba(255,255,255,0.2)

h4
  font: 800 26px 'Helvetica Neue', Helvetica, arial, sans-serif
  margin: 8px 0px
  color: #5A5A5A
  width 100%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

h5
	margin-bottom: 4px
	margin-top: 10px
	color: #888
	font-size: 14px

hr
  height 0px
  box-shadow 0px 1px 4px rgba(0, 0, 0, 0.10), 0px -1px 2px rgba(0, 0, 0, 0.05)
  border-bottom 1px solid #fff
  border-top 1px solid #bbb
  border-left 0px
  border-right 0px
  margin 3px 0px 3px 0px

  &.simple
    box-shadow none
    border-top 1px solid #eee

video
  width  100%

.wrapper
  background rgba(255,255,255,0.60)
  background linear-gradient(#fff, #eee)
  box-shadow 0 1px 15px rgba(0, 0, 0, 0.15), inset 0 1px 0px white
  border-radius 5px

.wrapper-inset
  box-shadow inset 1px 1px 1px #CECECE
  padding-left 1px
  padding-top 1px
  background white
  border 1px solid #e5e5e5

.wrapper-video
  background-image linear-gradient(#eee, #ddd)

textarea
  width 400px
  display block
  height 50px

.expandingArea textarea.selected
  background white

.video-dropzone
  border-radius 5px
  line-height 0

.dropzone
  height 100px
  width 460px
  background white
  box-shadow inset 1px 1px 2px #bbb
  overflow-y auto
  text-align center
  color #999
  line-height 0
  margin-bottom 8px
  display table-cell
  vertical-align middle

  &:hover
    cursor pointer
    background rgb(234, 226, 252)

  &.target
    background #F8F5FF

.dropzone.occupied
  padding-top 0px

#captions
  overflow-y auto
  background white
  padding-top 2px
  box-shadow inset 0px 1px 2px #BBB

table.captions
  padding 0
  margin 0
  overflow-y scroll
  width 100%
  border-spacing 0

  & tbody
    width 100%

  & tr
    margin 2px 0px
    opacity 1
    transition-property  opacity
    transition-duration 0.2s

    &:hover .ui-slider
      display block

    &.selected
      background #EAEAF5
      background-image linear-gradient(white, #EAEAF5)

    &:first-child
      margin 0px

    &:hover .expandingArea
      border-left 1px dotted #eee
      border-right 1px dotted #eee

    &.deleted
      opacity 0

    & td
      border-bottom 1px dotted #eee

    & td.left-fixed-width
      width 170px

    & td.right-fixed-width
      width 30px

      & i
        margin 8px
        margin-left 9px

td.delete-sub
  vertical-align top

  &:hover
    cursor pointer

td.maintext
  padding 0px

  &:hover
    cursor text

td.times
  text-align right
  vertical-align top

  & p
    padding 0
    margin 5px
    margin-top 8px
    margin-bottom 2px

td.start-captioning
  border none !important
  padding 30px
  text-align center

  & a
    width 100%
    display block
    padding-top 20px
    padding-bottom 20px
    background #FAFAFC
    border-radius 5px
    font 600 20px 'Helvetica Neue', Helvetica, arial, sans-serif
    border 2px dashed #B4B4B4
    color #C7C7C7
    border-bottom 2px dashed #B4B4B4 !important
    text-align center

    &:hover
      background #f5f5f5
      text-decoration none

.caption
  position relative
  // line-height: 20px
  & a
    display inline-block
  & i
    opacity 0.1
  &:hover i
    opacity 1

textarea
pre
  overflow hidden
  resize none
  outline none
  margin 0
  padding 8px
  border none

.expandingArea 
  position relative
  display inline-block
  width 100%
  border 1px solid transparent

.expandingArea > textarea
.expandingArea > pre
  background transparent
  white-space pre-wrap
  word-wrap break-word
  font 12px "Helvetica Neue", Helvetica, arial, sans-serif

.expandingArea > textarea
  box-sizing border-box
  width 100%

.expandingArea.active > textarea
  overflow hidden
  position absolute
  top 0
  left 0
  height 100%
  resize none

.expandingArea > pre
  display none

.expandingArea.active > pre 
  display block
  visibility hidden

#dialog
  box-shadow 4px 4px 15px rgba(0, 0, 0, .3);

.toolbar
  margin-bottom 0px
  margin-top 15px 
  height 32px

  & span
    display: inline-block
    padding: 12px
    padding-bottom: 0px

img#loader
  margin 13px 20px 13px

  &.visible
    display block

.tooltipContent
  display none
  border 2px solid white
  position absolute
  padding 10px
  background rgba(200, 200, 200, 0.5)
  box-shadow 1px 1px 10px rgba(0,0,0,0.15)
  border-radius 7px
  width 250px
  z-index 1010

  & .arrow
    top: -10px
    left: 50%
    margin-left: -10px
    border-bottom-color: #ffffff
    border-width: 0 10px 10px
    position: absolute
    display: inline-block
    width: 0
    height: 0
    border-color: transparent
    border-style: solid

    &:after   
      top: -1px
      left: -11px
      border-bottom-color: rgba(0, 0, 0, 0.25)
      border-width: 0 11px 11px
      z-index: -1
      content: ""

  &.in
    display block

span.light
  font-weight 100
  color #888
  display inline-block
  padding-bottom 2px

h1.header
  display inline-block

span.madeby
  display inline-block
  padding 5px
  line-height 20px
  font 200 14px 'Helvetica Neue', Helvetica, arial, sans-serif
  margin 0px
  color #a3a3a3

.library
  margin-top 30px

.white
  background white
  padding 15px
  border-radius 5px

.dropzone
  overflow hidden
  box-sizing border-box