@import 'nib'

body
  padding-top 55px
  font 12px 'open sans', 'Helvetica Neue', Helvetica, arial, sans-serif
  height 100%
  background-image url("/images/backgrounds/satinweave.png")

@media only screen and (-webkit-min-device-pixel-ratio: 2)

  .image-class
    background: url('/images/backgrounds/satinweave_@2x.png');

a
  text-decoration none

a:hover
  text-decoration underline

h1
  font 600 50px 'Open Sans Condensed', Helvetica, arial, sans-serif
  color #404853
  margin-bottom 8px
  margin-top 40px
  line-height 40px

h2
  font 800 20px 'Helvetica Neue', Helvetica, arial, sans-serif
  margin 7px 0px
  color #5a5a5a
  display: inline-block

light
  color #888

h3
  font: 15px/1.7em 'Merriweather', Georgia, 'Times New Roman', 'Hoefler Text';
  margin: 6px 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  color: rgb(89, 118, 141);

h4
  font: 800 17px 'Open Sans Condensed', 'Helvetica Neue', Helvetica, arial, sans-serif
  margin: 7px 0px
  height 23px
  color: #424b57
  width 100%
  text-overflow ellipsis
  overflow hidden
  white-space nowrap

h5
	margin-bottom: 4px
	margin-top: 10px
	color: #888
	font-size: 14px

hr
  height 0px
  box-shadow 0px 1px 4px rgba(0, 0, 0, 0.10), 0px -1px 2px rgba(0, 0, 0, 0.05)
  border-bottom 1px solid #fff
  border-top 1px solid #bbb
  border-left 0px
  border-right 0px
  margin 3px 0px 3px 0px

  &.simple
    box-shadow none
    border-top 1px solid #eee

video
  width  100%

.wrapper
  background rgba(255,255,255,0.60)
  background-image url("/images/backgrounds/satinweave.png")
  box-shadow 0 1px 15px rgba(0, 0, 0, 0.15), inset 0 1px 0px white
  border-radius 5px

.wrapper-inset
  box-shadow inset 0 1px 1px rgba(49,77,94,0.06),0 1px 0 rgba(255,255,255,0.33)  
  padding-left 1px
  padding-top 1px
  border-radius 2px
  max-height 350px
  overflow auto
  background white
  border 1px solid #cdd0d3
  border-top-color #bfc1c4

.wrapper-video
  background-image linear-gradient(#eee, #ddd)

textarea
  width 400px
  display block
  height 50px

.expandingArea textarea.selected
  background white

.video-dropzone
  line-height 0

.dropzone
  min-height 275px
  width 560px
  background white
  box-shadow inset 1px 1px 2px #bbb
  overflow-y auto
  text-align center
  color #999
  line-height 0
  margin-bottom 8px
  display table-cell
  vertical-align middle

  & p
    margin 60px 0

  &:hover
    cursor pointer
    background rgb(234, 226, 252)

  &.target
    background #F8F5FF

.dropzone.occupied
  padding-top 0px

#captions
  overflow-y auto
  background white
  border 1px solid #cdd0d3
  border-top-color #bfc1c4
  padding-top 1px
  box-shadow inset 0px 1px 0px rgba(0,0,0,0.1)

table.captions
  padding 0
  margin 0
  overflow-y scroll
  width 100%
  border-spacing 0

  & tbody
    width 100%

  & tr
    margin 2px 0px
    opacity 1
    transition-property  opacity
    transition-duration 0.2s

    &:hover .ui-slider
      display block

    &.selected
      background #EAEAF5
      background-image linear-gradient(white, #EAEAF5)

    &:first-child
      margin 0px

    &:hover .expandingArea
      border-left 1px dotted #eee
      border-right 1px dotted #eee

    &.deleted
      opacity 0

    & td
      border-bottom 1px dotted #eee

    & td.left-fixed-width
      width 155px

    & td.right-fixed-width
      width 30px

      & i
        margin 8px
        margin-left 9px

.caption.active
  background rgb(236, 240, 255)

td.delete-sub
  vertical-align top

  &:hover
    cursor pointer

td.maintext
  padding 0px

  &:hover
    cursor text

td.times
  text-align right
  vertical-align top

  & p
    padding 0
    margin 5px
    margin-top 8px
    margin-bottom 2px

td.start-captioning
  border none !important
  padding 30px
  text-align center

  & a
    width 100%
    display block
    padding-top 20px
    padding-bottom 20px
    background #FAFAFC
    border-radius 5px
    font 500 13px 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif
    border 2px dashed #B4B4B4
    color rgb(167, 167, 167)
    border-bottom 2px dashed #B4B4B4 !important
    text-align center

    &:hover
      background #f5f5f5
      text-decoration none

.caption
  position relative
  // line-height: 20px
  & a
    display inline-block
  & i
    opacity 0.15
  &:hover i
    opacity 1

textarea
pre
  overflow hidden
  resize none
  outline none
  margin 0
  padding 8px
  border none

.expandingArea 
  position relative
  display inline-block
  width 100%
  border 1px solid transparent

.expandingArea > textarea
.expandingArea > pre
  background transparent
  white-space pre-wrap
  word-wrap break-word
  font 12px 'open sans', "Helvetica Neue", Helvetica, arial, sans-serif

.expandingArea > textarea
  box-sizing border-box
  width 100%

.expandingArea.active > textarea
  overflow hidden
  position absolute
  top 0
  left 0
  height 100%
  resize none

.expandingArea > pre
  display none

.expandingArea.active > pre 
  display block
  visibility hidden

#dialog
  box-shadow 4px 4px 15px rgba(0, 0, 0, .3);

.toolbar
  margin-bottom 0px
  margin-top 0
  height 37px

  & span
    padding: 12px
    font-family 'open sans'
    font-size 11px
    font-weight 600
    padding-bottom: 0px

img#loader
  margin 13px 20px 13px

  &.visible
    display block

.tooltipContent
  display none
  border 2px solid white
  position absolute
  padding 10px
  background rgba(200, 200, 200, 0.5)
  box-shadow 1px 1px 10px rgba(0,0,0,0.15)
  border-radius 7px
  width 250px
  z-index 1010

  & .arrow
    top: -10px
    left: 50%
    margin-left: -10px
    border-bottom-color: #ffffff
    border-width: 0 10px 10px
    position: absolute
    display: inline-block
    width: 0
    height: 0
    border-color: transparent
    border-style: solid

    &:after   
      top: -1px
      left: -11px
      border-bottom-color: rgba(0, 0, 0, 0.25)
      border-width: 0 11px 11px
      z-index: -1
      content: ""

  &.in
    display block

span.light
  font-weight 100
  color rgb(122, 148, 168)
  display inline-block
  padding-bottom 2px

h1.header
  display inline-block

span.madeby
  display inline-block
  padding 5px
  line-height 20px
  font 200 14px 'Open Sans', Helvetica, arial, sans-serif
  margin 0px
  color #a3a3a3

.library
  margin-top 30px

.white
  background white
  padding 15px
  border-radius 5px

.dropzone
  overflow hidden
  box-sizing border-box

.navbar .nav >li > a
  color: rgb(203, 212, 219)
  font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif
  font-size: 12px
  font-weight: 600
  text-shadow 0 1px 1px rgba(0,0,0,0.5)

h6
  font-size: 12px;
  font-family: 'open sans', 'helvetica neue', helvetica, arial, sans-serif;
  color: #777;
  font-weight 600
  padding: 0px;
  margin: 7px 0;

p.intro
  font: 13px/1.5em 'Merriweather', Georgia, 'Times New Roman', 'Hoefler Text';
  margin: 6px 2px;
  margin-bottom: 10px;
  color: #59768d;

p.intro-title
  font: 13px/1.5em 'Merriweather', Georgia, 'Times New Roman', 'Hoefler Text';
  margin 2px
  margin-top 25px
  font-weight bold
  color: #59768d

span.light-bold
  color #aaa

.pull-right
  float right

.toolbar .pull-left
  margin-left 0

a.video-controls
  background-repeat no-repeat
  display inline-block
  cursor pointer
  transition none
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0px white  
  border 1px solid #999
  border-bottom 1px solid #888

  &#play-video
    border-radius 30px
    width 20px
    height 30px
    background-image url('/images/controls/play_dark.png')
    background-position -2px 1px
   
    &.paused
      background-position -35px 1px

#import-subtitles
  margin-right 0

.controls
  margin-top 16px
  text-align center

.video-buttons
  margin-top 8px
  text-align center

 fieldset
  padding 5px 10px
  border none
  border-radius 3px
  vertical-align top
  font-size 11px
  display inline-block
  background rgba(180, 180, 180, 0.36)

  & span
    font-size 12px
    margin 2px 4px
    font-family 'open sans'
    display inline-block

  & input
    margin 2px

#hints
  margin-right 15px

#insert-new-caption
  margin-bottom 7px

button .caret
  vertical-align middle
  margin-left 3px

#loading-wrapper
  position: absolute
  left: 50%
  margin-left: -20px

.navbar .nav .container-fluid
  position relative

.dropzone.active
  border none
  background none
  box-shadow none

p.divider
  border-top: 1px solid #e1e1e1;
  font-size: 1em;
  margin: 30px auto
  position: relative;
  text-align: center;
  width: 87%

  & span
    background-color white
    position absolute
    left 46%
    top -12px
    font-weight 600
    color #666
    line-height 1.9em
    display inline-block
    padding 0 0.4em
    border-radius 2em

button.delete-project
  absolute top 3px right 22px

span.title
  font-size 15px
  font-weight bold

.dialog-content p
  font-size 12px
  padding 10px 0

.confirmation
  box-shadow: 3px 10px 30px rgba(0,0,0,0.2)
  border-radius 3px