@import 'fiddleware_variables'
@import 'fiddleware_mixins'


// GRID SYSTEM. Thanks to Bootstrap...

// Fixed (940px)
$gridSystem-generate($gridColumns, $gridColumnWidth, $gridGutterWidth)

// Fluid (940px)
$fluidGridSystem-generate($gridColumns, $fluidGridColumnWidth, $fluidGridGutterWidth)

