// Global Values

// Grays
$black =                 #000
$grayDarker =            #222
$grayDark =              #333
$gray =                  #555
$grayMidLight =          #777
$grayLight =             #999
$grayLighter =           #eee
$white =                 #fff

// Accent colors
$blue =                  #00aced
$blueDark =              #0064cd
$green =                 #C9CB4D
$red =                   #9d261d
$yellow =                #ffc40d
$orange =                #f89406
$pink =                  #DB71DA
$purple =                #7a43b6

// Typography
$font-family = 'Open Sans', 'Helvetica Neue', Helvetica, arial, sans-serif
$bold-font-family = 'Open Sans Condensed', 'Helvetica Neue', Helvetica, arial, sans-serif
$paragraph-font-family = 'Merriweather', Georgia, 'Times New Roman', serif

$baseFontSize = 13px
$baseLineHeight = 18px
$textColor = $grayDark

// Navbar
$navbarHeight =                    50px
$navbarBackground =                #404853
$navbarBackgroundHighlight =       $grayDark
$navbarLinkBackgroundHover =       transparent

$navbarText =                      $grayMidLight
$navbarLinkColor =                 $grayMidLight
$navbarLinkColorHover =            $grayDark


// Z-index
$zindexDropdown =          1000
$zindexPopover =           1010
$zindexTooltip =           1020
$zindexFixedNavbar =       1030
$zindexModalBackdrop =     1040
$zindexModal =             1050

// GRID
// --------------------------------------------------

// Default 940px grid
$gridColumns =             12
$gridColumnWidth =         60px
$gridGutterWidth =         20px
$gridRowWidth =            ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1))

// Fluid grid
$fluidGridColumnWidth =    6.382978723%
$fluidGridGutterWidth =    2.127659574%

// Component Variables
$zindexPopover =           1010
