@import nib

.faq
  & p
    line-height 17px
    color #666


  & strong
    font-size 14px
    color #333

  & h1
    margin-top 0px
    font-size 25px

p.question
  margin-top 15px
  line-height 14px

  &:first-child
    margin-top 0px