@import 'nib'

button.btn
input[type='button'].btn
  font-size 11px
  padding 5px 13px 5px 13px
  margin 5px
  margin-left 0px
  float left
  text-shadow 1px 1px 0px rgba(255,255,255,0.4)
  cursor pointer
  border-radius 3px
  border 1px solid #ccc
  border-bottom 1px solid #bbb
  background #eee
  background-image linear-gradient(#fff, #D6D6D6)
  color #444
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0px white  
  background-size 1px 40px
  transition background 0.3s

  &:hover
    background-position 20px

  &.green
  &.blue
    box-shadow 0 1px 1px rgba(0, 0, 0, 0.39), inset 0 1px 0px rgba(255, 255, 255, 0.34)
    border 1px solid #AAA

  &.green
    background-image linear-gradient(#62C462, #61A351)

  &.blue
    background-image linear-gradient(#E4F6FF, #607EB4)

div.btn-group
  padding 0px
  display inline-block
  margin 5px
  float right

  & button.btn
    border-radius 0px
    margin 0px
    margin-left -1px

    &:first-child
      border-top-left-radius 3px
      border-bottom-left-radius 3px
      margin-left 0px

  & button.active
    box-shadow inset 0px 5px 10px rgba(0,0,0,0.10)
    background rgba(0,0,0,0.15)
    color rgba(0,0,0,0.60)

  &:after
    clear both

  & input
    margin 0

fieldset > .btn:last-child
.btn-group > .btn:last-child
.btn-group > .dropdown-toggle
  border-top-right-radius 3px !important
  border-bottom-right-radius 3px !important

input
  border 0px
  border-radius 3px
  margin 6px

  &[type='text']
    width: 190px
    padding: 4px
    font-size: 12px

  &[type='button']
    width default

fieldset
  margin-top 7px
  padding 1px 5px
  border none
  border-radius 3px
  vertical-align top
  font-size 11px
  display inline-block
  background rgba(180, 180, 180, 0.36)

  & span
    font-size 12px
    margin 2px 4px
    display inline-block

  & input
    margin 2px

legend
  display inline
  max-width 15px

input[type='checkbox']
  margin 0px

input[type='range']
  width 80px
  vertical-align top
  margin-top 15px

a#play-video
  border-radius 30px
  width 35px
  height 35px
  position relative
  background-image url('/images/controls/play_dark.png')
  background-repeat no-repeat
  display inline-block
  border 1px solid white
  background-position -5px -2px
  cursor pointer
  box-shadow 0 1px 1px rgba(0, 0, 0, 0.05), inset 0 1px 0px white  
  border 1px solid #999
  border-bottom 1px solid #888

  &.paused
    background-position -39px -2px

#export-subtitles
  float right
  margin-right 0px
