@import 'nib'

body
  padding-top 80px
  height 100%
  background-image url('/images/husk.png')

hr
  margin 3px
  margin-left 10px
  height 1px
  margin-right 10px
  background-color #ddd
  color #ddd
  border 1px solid #bbb

video
  width  100%

textarea
  width 400px
  display block
  height 50px

.expandingArea textarea.selected
  background white

ul#captions
  list-style-type none
  padding 0px
  padding-top 5px
  & li
    padding-top 5px
    padding-bottom 5px
    opacity 1
    transform-style preserve-3d
    transition-property  opacity
    transition-duration 0.2s
    &.deleted
      opacity 0

div.times
  margin 0px
  text-align right
  padding 6px
  display inline-block
  vertical-align top
  width 170px
  overflow hidden
  font 12px HelveticaNeue, Helvetica, arial, sans-serif

a.delete-sub
  display inline-block
  vertical-align top

textarea
pre
  overflow hidden
  resize none
  outline none
  margin 0
  padding 0
  border none

.expandingArea 
  position relative
  display inline-block
  background whiteSmoke
  width 325px

.expandingArea > textarea
.expandingArea > pre
  padding 5px
  background transparent
  font 400 13px/16px Helvetica, arial, sans-serif
  white-space pre-wrap
  word-wrap break-word

.expandingArea > textarea
  box-sizing border-box
  width 100%

.expandingArea.active > textarea
  overflow hidden
  position absolute
  top 0
  left 0
  height 100%
  resize none

.expandingArea > pre
  display none

.expandingArea.active > pre 
  display block
  visibility hidden

#captions
  position static
  top 140px
  width 100%
  overflow auto

#video-column
  position fixed
  top 80px
  width 400px
  left 50px
  bottom 50px

#caption-column
  position fixed
  top 80px
  left 450px
  right 50px
  bottom 50px

.caption
  position relative
  & a
    display inline-block
  & i
    margin 4px
    opacity 0.3
  &:hover i
    opacity 1

img.logo
  float left
  height 30px
  margin 5px

div.tools
  float left
  width 100%
  border 1px solid white
  // background rgba(255, 245, 245, 0.35)
  // background-image linear-gradient(top, rgba(136, 136, 136, 0.57) 0%, rgba(136, 136, 136, 0) 100%)
  padding 0
  border-radius 3px

  & div.float-left
    float left

  & div.float-right
    float right

.navbar-inner
  background-image linear-gradient(#f7f7f7, #edecf0)
  border-bottom 1px solid white
  // background-color #707070
  box-shadow 1px 1px 5px rgba(0, 0, 0, 0.15)
  & a
    font 12px HelveticaNeue, Helvetica, arial, sans-serif
    padding 5px 20px 5px 20px
