.services .zocial.google:before
  padding-right 0.7em
  padding-left 0.75em

.services .zocial.facebook:before
  padding-right 0.8em

.services .zocial:before
  font 120%/2.3 zocial; 

.services .zocial, a.zocial
  width 100%
  box-sizing border-box
  margin 5px 0
  box-shadow none
  font-weight 600
  line-height 2.6em
  font-family 'open sans', Helvetica, arial, sans-serif

  &:hover
    text-decoration none


.services .zocial
  background-image none

  &:hover
    background-image none